body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #fff;
  color: #222;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 40px;  /* розмір  лого */
  width: auto;
}

.logo span {
  font-size: 22px;
  font-weight: bold;
  color: #040404;  /* колір лого тексту */
  letter-spacing: 0.5px;
}


nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-section {
  background: #f0f0f0;
  padding: 40px;
  text-align: center;
}

.search-section input {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.featured {
  padding: 30px 40px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.recipe-card {
  background: #eee;
  height: 180px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.recipe-header, .recipe-details, .directions {
  padding: 30px 40px;
}

.ingredients, .facts {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-right: 5%;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  font-size: 14px;
  color: #555;
}
.liked {
  background: #ffbaba;
}
